# Azure Pipline build and delopment
pool:
  name: Default
  vmImage: ubuntu-latest

trigger:
  batch: true
  branches:
    include:
      - main
      - rc
      - develop

variables:
  isProdBuild: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
  isRcBuild: $[eq(variables['Build.SourceBranch'], 'refs/heads/rc')]
  isStagingBuild: $[eq(variables['Build.SourceBranch'], 'refs/heads/develop')]

stages:
- stage: All
  condition: or(eq(variables.isProdBuild, true), eq(variables.isRcBuild, true), eq(variables.isStagingBuild, true))
  jobs:
  - job: build_fe_image_with_docker_file
    steps:
    - task: DockerInstaller@0
      inputs:
        dockerVersion: '17.09.0-ce'
    - task: Docker@2
      displayName: Building new image on $(Build.SourceBranchName)
      inputs:
        containerRegistry: 'sds-netpowerno-docker'
        repository: 'netpowerasdockerhub/sds'
        command: 'buildAndPush'
        Dockerfile: './frontend/.Dockerfile'
        tags: sds_demo_fe.$(Build.SourceBranchName).latest
  - job: build_be_image_with_docker_file
    steps:
    - task: DockerInstaller@0
      inputs:
        dockerVersion: '17.09.0-ce'
    - task: Docker@2
      displayName: Building new image on $(Build.SourceBranchName)
      inputs:
        containerRegistry: 'sds-netpowerno-docker'
        repository: 'netpowerasdockerhub/sds'
        command: 'buildAndPush'
        Dockerfile: './backend/.Dockerfile'
        tags: sds_demo_be.$(Build.SourceBranchName).latest
- stage: rollout_staging
  condition: eq(variables.isStagingBuild, true)
  variables:
    - group: sds-sudo-password
    - name: shellScriptFilePath
      value: /sds/toolkit/sds/k8s/sds_staging/sds_demo/sds_demo.sh
  jobs:
    - job: rollout_staging
      steps:
        - task: SSH@0
          inputs:
            sshEndpoint: 'SSH-46.255.22.206-luannguyen'
            runOptions: 'commands'
            commands: |
              echo "ssh 46.255.22.206 and rollout $(Build.SourceBranchName)"
              echo $(SUDO_PWD) | sudo -S sh $(shellScriptFilePath) $(Build.SourceBranchName) $(SUDO_PWD)
            failOnStderr: true
            interactiveSession: true
            readyTimeout: '120000'
- stage: rollout_rc
  condition: eq(variables.isRcBuild, true)
  variables:
    - group: sds-sudo-password
    - name: shellScriptFilePath
      value: /sds/toolkit/sds/k8s/sds_rc/sds_demo/sds_demo.sh
  jobs:
    - job: rollout_rc
      steps:
        - task: SSH@0
          inputs:
            sshEndpoint: 'SSH-46.255.22.206-luannguyen'
            runOptions: 'commands'
            commands: |
              echo "ssh 46.255.22.206 and rollout $(Build.SourceBranchName)"
              echo $(SUDO_PWD) | sudo -S sh $(shellScriptFilePath) $(Build.SourceBranchName) $(SUDO_PWD)
            failOnStderr: true
            interactiveSession: true
            readyTimeout: '120000'
